<div class="container">
  <div id="wrapper">
    <div id="content">
      <div id="container-card-bar">
        <div id="city-selected">
          <h3>Olá, você está vendo os dados de:</h3>
          <p>SP</p>
        </div>

        <div id="recent-searches">
          <p>Pesquisas recentes</p>
          <ul id="cities">
            <li class="active">SP</li>
            <li>BRA</li>
            <li>CE</li>
            <li>PR</li>
          </ul>
        </div>
      </div>
      <div id="container-card">
        <app-bar-chart></app-bar-chart>
        <app-pie-chart></app-pie-chart>
      </div>
      <div id="container-card">
        <app-line-chart></app-line-chart>
        <app-doughnut-chart></app-doughnut-chart>
      </div>
      <div id="container-polar-card">
        <app-polar-area-chart></app-polar-area-chart>
      </div>
    </div>
  </div>
</div>
